.panel-img{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.panel-img:hover{
    width: 100px;
    height: 100px;
}

.login-bg{
background-color: #094874;
}
